<div>
	<form method='post' action="index/Admin_user/add" class="">	<label for="username">用户名</lable>
<input id="username" type="text" name="username" value=""/><br><label for="password">用户密码</lable>
<input id="password" type="password" name="password" value=""/><br><label for="mobile">手机</lable>
<input id="mobile" type="text" name="mobile" value=""/><br><label for="email">邮箱</lable>
<input id="email" type="text" name="email" value=""/><br><label for="status">用户状态</lable>
<input id="status" type="text" name="status" value=""/><br><button type="button" >保存</button><button type="button" >取消</button>	<form method='post' action="index/Admin_user/add" class="">	</form>
</div>
<div>
	<form method='post' action="index/Admin_user/edit" class="">	<input type="hidden" id="tsxid" value=""/>
	<label for="username">用户名</lable>
<input id="username" type="text" name="username" value=""/><br><label for="password">用户密码</lable>
<input id="password" type="password" name="password" value=""/><br><label for="mobile">手机</lable>
<input id="mobile" type="text" name="mobile" value=""/><br><label for="email">邮箱</lable>
<input id="email" type="text" name="email" value=""/><br><label for="status">用户状态</lable>
<input id="status" type="text" name="status" value=""/><br><button type="button" >修改</button><button type="button" >取消</button>	<form method='post' action="index/Admin_user/add" class=""></div>